.pins-table{
  overflow: hidden;
}
.pins-table__title{
  font-size: 2em;
  margin: 0;
  padding: 1rem;
}

.pins-table__head {
  background-color: var(--clr-logo-green);
  padding: 1em 10%;
  text-align: center;
  color: var(--clr-white);
  animation: fadeInDown 1s;
}

.pins-inputs__container {
  flex-wrap: wrap;
  gap: 1em;
}

.pins-inputs__search {
  padding: 0.5em;
  outline: none;
  border: transparent;
  user-select: none;
  width: 100%;
  padding: 1em;
}

.pins-inputs__search-label {
  user-select: none;
  cursor: text;
  position: absolute;
}

.pins-inputs__search + .pins-inputs__search-label {
  border: transparent;
  transition: color 0.5s, scale 0.5s, translate 0.5s;
}

.pins-inputs__search:placeholder-shown + .pins-inputs__search-label {
  translate: 0.5em 1em;
}

.pins-inputs__search:focus + .pins-inputs__search-label,
.pins-inputs__search:not(:placeholder-shown) + .pins-inputs__search-label {
  translate: 0em -1.5em;
  scale: 0.9;
  color: var(--clr-white);
}

.pins-input-group {
  display: flex;
}

.pins-btn__clear {
  color: var(--clr-white);
  background-color: var(--clr-danger);
}