.page404-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
 
  overflow: hidden;
}

.page404-detail {
  text-align: center;
  margin-top: 2em;
  animation: fadeInUp 1s;
}

.page404-img {
  margin-top: 2rem;
  height: 65vh;
  width: 30%;
  overflow: hidden;

  animation: fadeInUp 1s;
}

.page404-error {
  font-size: 6em;
  margin: 0;
  line-height: 2em;
  color: var(--clr-logo-blue);
  font-family: bungeeregular;
}


.page404-link {
  color: var(--clr-logo-blue);
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .page404-container {
    flex-direction: column;
  }

  .page404-detail {
    order: 2;
    margin-top: 0;
  }

  .page404-img {
    display: none;
  }

  .page404-error {
    font-size: 3em;
  }
}
