:root{

    --clr-black:#222222;
    --clr-white: #ffffff;

    --clr-light-gray:#afafaf;
    --clr-dark-gray:#706f6f;

    --clr-bg-main: #e8e8e8;

    --clr-logo-blue:#6baee0;
    --clr-logo-orange:#f18454;
    --clr-logo-green:#9abf22;

}