@import "_icons-setup";

.i__ {

  &news::after{
    --image-url: url(../icons/news.svg);
  }

  &milestones::after {
    --image-url: url(../icons/milestones.svg);
  }

  &services::after {
    --image-url: url(../icons/services.svg);
  }

  &organization::after {
    --image-url: url(../icons/organization.svg);
  }

  &service::after {
    --image-url: url(../icons/service.svg);
  }

  &outstanding::after {
    --image-url: url(../icons/outstanding.svg);
  }

  &influence::after {
    --image-url: url(../icons/influence.svg);
  }

  &contact::after {
    --image-url: url(../icons/contact.svg);
  }

  &index::after {
    --image-url: url(../icons/index.svg);
  }

  &star::after {
    --image-url: url(../icons/star.svg);
  }

  &add::after {
    --image-url: url(../icons/add.svg);
  }

  &search::after {
    --image-url: url(../icons/search.svg);
  }

  &edit::after {
    --image-url: url(../icons/edit.svg);
  }

  &delete::after {
    --image-url: url(../icons/delete.svg);
  }

  &close::after {
    --image-url: url(../icons/close.svg);
  }

  &clear::after {
    --image-url: url(../icons/clear.svg);
  }

  &lock::after {
    --image-url: url(../icons/lock.svg);
  }

  &user::after {
    --image-url: url(../icons/user.svg);
  }

  &info::after {
    --image-url: url(../icons/info.svg);
  }

  &email::after {
    --image-url: url(../icons/email.svg);
  }
  
  &phone::after {
    --image-url: url(../icons/phone.svg);
  }
  
  &clock::after {
    --image-url: url(../icons/clock.svg);
  }


}