
@import "_icons.scss";

:where(*, *:after, *:before) {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: clamp(12px, 2vw, 14px);
}

body {
  margin: 0;
  background-color: #e8e8e8;
}

img {
  width: 100%;
  display: inline-block;
}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
