
@import "_colors.scss";
@import "_icons.scss";
@import "_scroll.scss";
@import "_swal.scss";
@import "_variables.scss";

@import "../fonts/bungee/stylesheet.css";
@import "../fonts/roboto/stylesheet.css";

:where(*, *:after, *:before) {
  box-sizing: border-box;
  font-family: roboto,sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  margin: 0;
  background-color: var(--clr-bg-main);
  font-size: clamp(12px, 2vw, 14px);
  color: var(--clr-black);
  overflow-x: hidden;
}

img {
  width: 100%;
  display: inline-block;
}

.body-wrapper {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
